.card{
    margin: 10px 0;
}

.product-status{
    font-weight: bold;
    color: #17a2b8;
    font-size: 14px;
}

.product-discount-tag{
    position: absolute;
    right: 5px;
    color: #fff;
    background-color: rgb(220, 82, 56);
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cart-item{
    margin: 10px 0;
}

.cart-icon{
    position: relative;
}

.cart-img{
    width: 26px;
}

.cart-badge{
    font-size: 12px;
    display: block;
    position: absolute;
    right: 15px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 60, 24);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
    font-weight: 600;
    border-radius: 50%;
}

.cart-item-image{
    width: 100%;
}

.cart-info-item{
    flex: 1 0 0;
}

.cart-item-btn{
    width: 40px;
    height: 40px;
}
.cart-item-quantity{
    margin: 0 10px;
}

.cart-modal-checkout-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 12px 50px;
}

.cart-total{
    padding: 10px;
}

.total-number{
    font-size: 18px;
}

.cart-modal-body-empty{
    padding: 25px 10px;
    color: #17a2b8;
}

.product-item-img{
    cursor: pointer;
}

.product-detail__image-block{
    position: relative;
}

.product-detail__image-block__image{
    width: 100%;
}

.product-item__old-price{
    font-size: 18px;
    text-decoration: line-through;
    margin-right: 10px;
    color: #6f7479;
}

.product-item__sale-price{
    font-size: 22px;
    font-weight: bold;
    color: rgb(220, 82, 56);
}

.cart-warning-message{
    color: rgb(233, 172, 74);
}